.usersCards {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #262626;
    font-family: "poppins", sans-serif;
    padding-top: 100px;
    font-family: TitilliumWeb;
}

.usersCards .container {
    width: 1200px;
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.usersCards .whiteColor {
    color: white;
}

@media (max-width: 1200px) {
    .usersCards .container {
        width: 100%;
    }
}

